@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Ubuntu:ital,wght@0,400;1,300;1,700&display=swap');
body{
    background-color: rgb(148, 212, 146);
    background-image: url('bg2.jpg');
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
}
.leftnav{
display: flex;
/* list-style-type: none; */
height: 85px;
width: 50%;
background-color: rgba(0, 0, 0, 0.8);
color: rgb(88, 189, 88);
align-items: center;

}
.leftnav li{
    padding: 0 10px;
}
.brand img{
    width: 45px;
    border-radius: 15px;
    padding: 0 10px;
}
.brand{
    align-items: center;
    display: flex;
    font-weight: bolder;
    font-size: 1.7rem;

}
.rightnav{

    width: 50%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    
    
}
.rightnav ul{
    height: 85px;
    display: flex;
    justify-content: flex-end;
}

.rightnav ul li{
    list-style-type: none;
    padding: 57px 10px;
    /* font-weight: bolder; */
    font-size: 0.8rem;
  
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Gideon Roman', cursive;
    display: flex;
    margin: 12px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}
.songItemContainer{
    margin-top: 30px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 100%; */
    color: rgb(9, 9, 70);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}
.songItem img{
    width: 30px;
    margin: 0 23px;
    border-radius: 34px;

}
.timestamp{
    margin: 0 12px;
    
}
.timestamp i{
    cursor: pointer;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.songinfo{
    position: absolute;
    left: 9vw;
    height:0rem;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.icons{
    margin: 10px;
    height: 11vh;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
